<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="tccDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${data.url}"/>
        <property name="username" value="${data.name}"/>
        <property name="password" value="${data.pass}"/>
        <property name="initialSize" value="${data.initialSize}"/>
        <property name="maxActive" value="${data.maxActive}"/>
        <property name="maxWait" value="60000"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
    </bean>

    <bean id="transactionRepository"
          class="org.mengyun.tcctransaction.spring.repository.SpringJdbcTransactionRepository">
        <property name="dataSource" ref="tccDataSource"/>
        <property name="domain" value="STORAGE"/>
        <property name="tbSuffix" value="_STORAGE"/>
    </bean>

    <bean class="org.mengyun.tcctransaction.spring.recover.DefaultRecoverConfig">
        <property name="maxRetryCount" value="30"/>
        <property name="recoverDuration" value="120"/>
        <property name="cronExpression" value="0 */1 * * * ?"/>
        <property name="delayCancelExceptions">
            <util:set>
                <value>com.alibaba.dubbo.remoting.TimeoutException</value>
            </util:set>
        </property>
    </bean>


</beans>
