<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="transactionRepository" class="com.seata.common.tccredis.RedisClusterTransactionRepository">
        <property name="keyPrefix" value="tcc_ut_"/>
        <property name="jedisClusterExtend" ref="jedisClusterExtend"/>
    </bean>
    <bean id="jedisClusterExtend" class="com.seata.common.tccredis.JedisClusterExtend">
        <constructor-arg index="0" value="${redis.cluster.ip}" type="java.lang.String"/>
        <constructor-arg index="1" value="${redis.cluster.pass}" type="java.lang.String"/>
        <constructor-arg index="2" ref="jedisPoolConfig"/>
    </bean>
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="1000"/>
        <property name="maxWaitMillis" value="1000"/>
    </bean>

    <!--<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="172.30.65.13"  type="java.lang.String"/>
        <constructor-arg index="2" value="6379" type="int"/>
        <constructor-arg index="3" value="1000" type="int"/>
        &lt;!&ndash;<constructor-arg index="4" value="19e.com.cn"/>&ndash;&gt;
    </bean>-->


    <bean class="org.mengyun.tcctransaction.spring.recover.DefaultRecoverConfig">
        <property name="maxRetryCount" value="30"/>
        <property name="recoverDuration" value="120"/>
        <property name="cronExpression" value="0 */1 * * * ?"/>
        <property name="delayCancelExceptions">
            <util:set>
                <value>com.alibaba.dubbo.remoting.TimeoutException</value>
            </util:set>
        </property>
    </bean>


</beans>
